      body {
        font-family: Arial, sans-serif;
        background-color: #3462c4;
      }

      form {
        background-color: #ffffff;
        border: 2px solid #950505;
        border-radius: 5px;
        box-shadow: 0px 0px 5px #d2c8c8;
        padding: 20px;
        width: 300px;
        margin: 0 auto;
      }

      h1 {
        text-align: center;
      }

      input[type="text"],
      input[type="password"] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-sizing: border-box;
      }

      button[type="submit"] {
        background-color: #4caf50;
        color: white;
        padding: 14px 20px;
        margin: 10px 0;
        border: none;
        border-radius: 120px;
        cursor: pointer;
        width: 100%;
      }

      button[type="submit"]:hover {
        background-color: #45a049;
      }

      .container {
        padding: 16px;
      }

      span.psw {
        float: right;
        padding-top: 1px;
      
      }
    